body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
    color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

header {
    background-color: black;
    color: white;
    padding: 1em;
    text-align: center;
}

main {
    padding: 1em;
    text-align: center; /* Center the text in the main section */
}

#music-player {
    margin-top: 2em;
    text-align: center;
}

#current-time {
    font-size: 2em;
    margin-top: 1em;
    text-align: center; /* Center the real-world time display */
}
